@font-face {
    font-family: Kanit-Regular;
    src: url("../font/Kanit/Kanit-Regular.ttf");
}

@font-face {
    font-family: PixelifySans;
    src: url("../font/PixelifySans/PixelifySans-VariableFont_wght.ttf");
}

* {
    user-select: none;
    /*cursor: none;*/
    font-family: Kanit-Regular, "Segoe UI Variable", system-ui;
}

body {
    background: black;
}